@import "./styles/fonts.css";
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.message-animation {
  animation: slideIn 0.3s ease-out forwards;
}

/* Hide scrollbar while maintaining functionality */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

/* Ensure font loading */
:root {
  font-family: "Commissioner", sans-serif;
}

.font-coolvetica {
  font-family: "Coolvetica", sans-serif !important;
}

/* App layout on > 768px screens (desktop / tablets) */

/* @media (min-width: 768px) {
  .app-layout-desktop {
    grid-template-columns: 290px 1fr;
    grid-template-rows: auto 1fr;

    & > header {
      grid-column: 2 / 3;
    }

    & > main {
      grid-column: 2 / 3;
    }
  }

  .burger-menu-desktop {
    grid-row: 1 / 3;
    position: static !important;
    height: 100vh !important;
    transform: none !important;
    opacity: 1 !important;
    pointer-events: auto !important;
    grid-column: 1 / 2;
  }

  .burger-menu-desktop .fixed {
    position: static !important;
  }

  .burger-menu-desktop .absolute {
    position: static !important;
  }
}

*/
